*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.acn
*.acr
*.alg
*.glg
*.glo
*.fmt
*.lot
*.lol
*.libs-*
*.gls
*.lof
*.idx
*.ilg
*.ind
*.ist

src/info.tex

# comment out if you want to keep the generated PDF
src/thesis.pdf
